@font-face {
    font-family: 'Unown';
    src: url('Unown.eot');
    src: url('Unown.eot?#iefix') format('embedded-opentype'),
        url('Unown.woff2') format('woff2'),
        url('Unown.woff') format('woff'),
        url('Unown.ttf') format('truetype'),
        url('Unown.svg#Unown') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

