@font-face {
    font-family: ''Open Sans', sans-serif';
    src: url(''Open Sans', sans-serif.eot');
    src: url(''Open Sans', sans-serif.eot?#iefix') format('embedded-opentype'),
         url(''Open Sans', sans-serif.woff2') format('woff2');
    src: url(''Open Sans', sans-serif.svg#'Open Sans', sans-serif') format('svg'),
         url(''Open Sans', sans-serif.ttf') format('truetype'),
         url(''Open Sans', sans-serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
  font-family: 'moon_get';
  src: url('moon_get-Heavy.eot');
  src: url('moon_get-Heavy.eot?#iefix') format('embedded-opentype'),
       url('moon_get-Heavy.svg#moon_get-Heavy') format('svg'),
       url('moon_get-Heavy.ttf') format('truetype'),
       url('moon_get-Heavy.woff') format('woff'),
       url('moon_get-Heavy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}